body {
    background-image: url(https://images.pexels.com/photos/2080960/pexels-photo-2080960.jpeg?cs=srgb&dl=pexels-johannes-plenio-2080960.jpg&fm=jpg);
    background-size: cover;
  }
  .App {
    font-family: cursive;
    text-align: center;
    color: white;
  }
 h1 {
  margin-top: 40px;
 }
 #town {
  padding: 8px 13px;
  border-radius: 15px;
}
#search {
  padding: 8px 6px;
  border-radius: 15px;
}
a {
  color: orangered;
}