a {
  text-decoration: none;
}
.Weather {
  text-align: left;
}
.Weather ul {
  list-style-type: none;
  padding: 0;
}
.Weather h1 {
  margin: 20px 0 0 0;
  color: blue;
}
.Weather .temperature {
  font-size: 60px;
}

.searchInput,
.textInput {
  padding: 10px 15px;
  border-radius: 10px;
  border: 2px solid blue;
  background: white;
}
.textInput,
.searchInput {
  width: 100%;
}
.searchInput:hover {
  background: blue;
  color: white;
  transition: 200ms ease-in-out;
  cursor: pointer;
}
.col-3 {
  padding-left: 0px !important;
}
.iconInfo {
  display: flex;
  align-items: center;
  justify-content: left;
}
.weatherInfo,
.WeatherTemperature {
  display: flex;
  align-items: center;
  justify-content: right;
}
.country {
  font-size: 30px;
}
.unit {
  font-size: 20px;
}